body {
  margin: 0;
  font-family: Arial;
  display: flex;
  background: #0f172a;
  color: white;
}

.sidebar {
  width: 220px;
  background: #020617;
  padding: 20px;
}

.sidebar button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
}

.logo {
  color: #38bdf8;
}

.content {
  padding: 30px;
  flex: 1;
}

.blue {
  color: #38bdf8;
}

.box {
  margin-top: 20px;
  background: #020617;
  padding: 20px;
  border-radius: 8px;
}

.hidden {
  display: none;
}

input, select, button {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
}